extends ../layout.pug

block content  
  script(src="https://www.google.com/recaptcha/api.js" async defer)
  .main-container
    form(role='form' id='signup' name='register_form' action="/register" method="post")
      h2.content-title Sign Up
      .form-element
        label.form-label(for='first_name') * First Name
        br
        input.form-control(type='text' id="first_name" name="first_name" placeholder='Enter First Name' size='50' required)
        br
        small
      .form-element
        label.form-label(for='last_name') * Last Name
        br
        input.form-control(type='text' id="last_name" name="last_name" placeholder='Enter Last Name' size='50' required)
        br
        small
      .form-element
        label.form-label(for='username') * Email
        br
        input.form-control(type='email' id="email" autocomplete="username" name="username" placeholder='Enter Email' size='50' required)
        br
        small
      .form-element
        label.form-label(for='password') * Password
        br
        input.form-control(id="password" autocomplete="off" type='password' name="password" placeholder='Password' required)
        br
        small
      .form-element
        label.form-label(for='verify_password') * Confirm Password 
        br 
        input.form-control(id="confirm_password" autocomplete="off" type='password' name="verify_password" placeholder='Verify Password' required)  
        br
        small
      .form-element
        label.form-label(for='user_key') User Key (optional)
        br
        input.form-control(type='password' autocomplete="user-key" name="user_key" placeholder='Key')  
        br
        small * required
        br 
        br
      p!= recaptcha
      .form-button
        button.btn.btn-default(type='submit') Sign Up
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
      
        script(src="./static/js/validator.js")