extends layout.pug 

block content 
  div.header
    h1 Exclusions DB
  div.main-container
    ul 
      li.list-item
        a(href="/login") Login
      li.list-item
        a(href="/register") Register 
        