extends layout.pug 

block content 
  div.main-container
    .home-container
      ul
        li.list-item
          a(href='/login')
            button.btn.btn-primary.home-btn(type="button") Login
        li.list-item
          a(href='/register')
            button.btn.btn-primary.home-btn(type="button") Register
        