extends layout.pug 


block content
  script(src="https://www.google.com/recaptcha/api.js" async defer)
  .header 
    h1 Exclusions DB
  div.main-container
    h2 Login
    form.login-form(role='form', action="/login",method="post")
      .form-element
        label.form-label(name='username') Email
        br
        input.form-control(type='text', name="username", placeholder='Enter Username' required)
        br
      .form-element
        label.form-label(name='password') Password
        br
        input.form-control(type='password', name="password", placeholder='Password' required)
        br
        br
      .form-button
        button.btn.btn-default(type='submit') Submit
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
        p!= recaptcha

        