extends layout.pug 

block content
  .header 
    h1 Exclusions DB
  div.main-container
    h2 Login
    form(role='form', action="/login",method="post")
      != recaptcha_form
      .form-element
        label.form-label(name='username') Email
        br
        input.form-control(type='text', name="username", placeholder='Enter Username' required)
        br
      .form-element
        label.form-label(name='password') Password
        br
        input.form-control(type='password', name="password", placeholder='Password' required)
        br
        br
      .form-button
        button.btn.btn-default(type='submit', value='Check Recaptcha') Submit
        a(href='/')
          button.btn.btn-primary(type="button") Cancel