extends layout.pug 

block content  
  .main-container
    h3.content-title Success!
    p Your account has been successfully created! An email has been sent to the email address you provided (this is also your username for login). If you do not see an email, please check your spam/junk mailbox. 
    p Note: For security reasons, new user accounts without a valid User Key are automatically inactive and must first be activated by an administrator.
    button.btn.btn-default(onclick="location.href='/home'") Home
    button.btn(onclick="location.href='/users'") Users