extends layout.pug

block content  
  script(src="https://www.google.com/recaptcha/api.js" async defer)
  .main-container
    h2.content-title Register
    form(role='form', action="/register",method="post")
      
      h4.error Uh-oh! It looks like a user with the email address you selected is already registered. If you know your username and password, please 
        a(href="/login") login
        | . Otherwise, please choose a unique username.
      .form-element
        label.form-label(for='first_name') * First Name
        br
        input.form-control(type='text', name="first_name", placeholder='Enter First Name' size='50' required)
        br
      .form-element
        label.form-label(for='last_name') * Last Name
        br
        input.form-control(type='text', name="last_name", placeholder='Enter Last Name' size='50' required)
        br
      .form-element
        label.form-label(for='username') * Email
        br
        input.form-control(type='email', name="username", placeholder='Enter Email' size='50' required)
        br
      .form-element
        label.form-label(for='password') * Password
        br
        input.form-control(type='password', name="password", placeholder='Password' required)
        br
      .form-element
        label.form-label(for='verify_password') * Verify Password
        br 
        input.form-control(type='password', name="verify_password", placeholder='Verify Password' required)  
        br
      .form-element
        label.form-label(for='user_key') User Key (optional)
        br
        input.form-control(type='password', name="user_key", placeholder='Key')  
        br
        small * required
        br 
        br
      p!= recaptcha
      .form-button
        button.btn.btn-default(type='submit') Submit
        a(href='/')
          button.btn.btn-primary(type="button") Cancel