extends layout.pug 

block content
  div.header
    h1 Exclusions DB
  div.main-container
    h2 Registered Users
    
    ul.list 
      each user in users
        div.users-list-item#user-item(onclick=`window.location.href='/edit_user/${user.username}'`)
          li.exclusion-item=user.username
          li.exclusion-item Role: #{user.role}
          li.exclusion-item Is Active: #{user.active}
    button.btn.btn-default(onclick="history.back()") Back