extends layout.pug 

//- Renders users page
block content
  div.header
    h1 Exclusions DB
  div.main-container
    h2 Registered Users
    
    ul.list 
      each user in users
        div.users-list-item#user-item(onclick=`window.location.href='/users/${user.username}'`)
          li.exclusion-item #{user.first_name} #{user.last_name}
    button.btn.btn-default(onclick="history.back()") Back
    