:root {
  --blue:#0091f0;
  --blue2: #5cbeff; /* used in scrollbar*/
  --blue3: #0070ba;
  --blue4: #0062a3;
  --orange: #f05f00;
  --white: #f1f2f4; /* Text and icon color */
  --gray1: #f5f2f0; /* Body background */
  --gray2: #f6f6f6; /* Main container */
  --gray3: #f0f3f5; /* Content title color */
  --gray4: #e4e8eb; /* Box shadow color*/
  --charcoal:#002238; 
  --charcoal_light: #00385d;  
  --error: #e1341e;
  --success: #19bf2c;
}

/* @media only screen and (max-width: 1700px) {
   .header-right {
    right: 5%;
  } 
} */

@media only screen and (max-width: 1420px) {
  /* .header-right {
    position: relative;
    width: 72%;
    text-align: right;
  } */

  .main-container {
    width: 75%;
  }

  /* Single exclusion page */
  .excl-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 13pt;
  }

  .exclusion-list-item {
    padding: 0 5px 0 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 280px;
  }

  .exclusion-name {
    font-size: 1.2rem;
  }

  .image {
    max-width: 150px;
    max-height: 180px;
  }

  .exclusion-image {
    float: right;
  }

  /* Single exclusion page */
  .excl-container {
    position: relative;
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  /* .header {
    background-color: var(--gray1);
  }

  .head-title {
    text-align: left;
    width: 150px;
    color: var(--blue);
  }

  h1.head-title {
    padding: 0;
  } */

  /* .header-right {
    position: absolute;
    right: 5%;
  } */

  .fas-icon-light {
    color: var(--blue);
    justify-content: right;
  }

  .fas-icon-light-header {
    color: var(--white);
    /* justify-content: right; */
  }

  .fas-icon-light-menu {
    color: var(--white);
    /* justify-content: right; */
  }

  .content-title {
    font-size: 1.5rem;
  }

  .main-container {
    width: 94%;
  }

  .exclusion-list-item {
    min-height: 285px;
    margin-right: 20px;
  }

  .exclusion-name {
    font-size: 1.2rem;
    text-align: center;
  }

  .image {
    max-width: 150px;
    max-height: 180px;
  }

  .right-div {
    text-align: center;
  }

  .exclusion-image {
    float: none;
    text-align: center;
  }

  /* Forms */
  .form-label {
    font-size: 14pt;
  }

  .form-control {
    font-size: 13pt;
    padding: 2px;
  }

  /* Single exclusion page */
  .excl-container {
    position: relative;
    width: 90%;
    padding: 15px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .excl-head {
    text-align: center;
  }

  .logo {
    padding: 0;
    max-width: 150px;
    max-height: 180px;
  }

  .excl-title {
    font-size: 1.5rem;
  }

  .excl-body {
    display: block;
    text-align: center;
    padding: 0;
  }

  .excl-picture {
    max-width: 180px;
    max-height: 210px;
    float: left;
    margin-top: 5px;
  }

  /**Mobile nav for mobile menu*/
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.25em 0;
    width: 100%;
    color: white;
    background-color: var(--blue3);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--blue);
  }

  .menu-button {
    display: block;
    position: absolute;
    flex: right;
  }
  
  .menu-icon {
    display: none;
  }
  
  .menu-text {
    padding: 0;
    margin: 0;
    display: block;
  }
}

@media only screen and (max-width: 436px) {
  /* .header-right {
    position: fixed;
    width: 72%;
    text-align: right;
  } */

  .bottom-left-div {
    float: none;
    max-width: 300px;
    padding: 5px;
  }

  .bottom-right-div {
    float: none;
    text-align: left;
    max-width: 300px;
    padding: 0 5px 5px 5px;
  }
}

@media only screen and (max-width: 396px) {
  body {
    font-size: 11pt;
  }

  .head-title {
    width: 100vw;
    text-align: center;
    padding: 0;
  }

  h1.head-title {
    font-size: 1.5rem;
    padding: 0;
  }
/* 
  .header-right {
    width: 30px;
    height: 100vh;
    padding-top: 33.3vh;
    padding-right: 5px;
  } */

  /* .fas-icon-light {
    padding: 15px 15px 0 0;
  } */

  .content-title {
    font-size: 1.2rem;
  }

  .exclusion-name {
    font-size: 1rem;
  }

  .exclusion-list-item {
    min-height: 250px;
    max-height: 360px;
  }

  .select-input {
    padding: 0;
    height: 2rem;
  }

  .form-label {
    font-size: 12pt;
  }

  .form-control {
    font-size: 12pt;
    width: 94%;
  }

  .form-exclusion-section {
    display: block;
  }

  .select-input-title {
    padding: 0;
    height: 2rem;
  }

  .form-button {
    text-align: center;
  }

  .btn {
    font-size: 12pt;
    padding: 6px;
  }

  /* Users */
  .user-right {
    position: absolute;
    right: 20%;
  }

  .user-edit-icons {
    bottom: 15%;
  }

  li.user-item {
    width: 60%;
  }

  .users-list-item {
    width: 90%;
  }

  button.btn {
    padding: 6px;
    width: 70px;
  }

  .signature {
    font-size: 1.2rem;
  }

  .left-btn-div {
    /* display: none; */
  }

  /* .right-btn-div {
    position: absolute;
    text-align: center;
    bottom: 2px;
    left: 35%;
  } */

  .excl-container {
    box-shadow: none;
    width: 85vw;
    margin-right: 15px;
  }

  footer {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 300px) {
  .signature {
    font-size: 1rem;
  }

  footer {
    top: 30px;
  }
}
