/** Microsoft Edge */
@supports (-ms-ime-align: auto) {
  div {
    display: block;
  }
}

@media print {

  

  ul li {
    page-break-after: avoid;
  }

  ul li:first-child {
    page-break-after: auto;
  }

  body {
    display: block;
    font-size: 14pt;
  }

  section.top-nav {
    display: none;
    height: 0;
  }

  .top-nav.menu-button {
    display: none;
  }

  .head-title {
    display: none;
    height: 0;
  }

  .header {
    display: hidden;
    height: 0;
    position: static; /* Thank you, https://makandracards.com/makandra/47966-how-to-fix-html-elements-being-cut-off-when-printing*/
  }

  .header-right {
    display: hidden;
    height: 0;
  }

  .bottom-div {
    display: none;
  }

  .fas-icon {
    display: none;
  }

  .fas-icon-light {
    display: none;
  }

  /*Select input - found on user-home, select inputs*/
  .select-label-home {
    display: none;
  }
  
  .select-input-home {
    display: none;
  }

  footer {
    display: none;
    position: fixed;
    bottom: 0;
  }

  .excl-foot {
    break-after: always;
  }

  .main-container {
    display: block;
    padding-top: 0;
    margin: 0;
    width: 96%;
    box-shadow: none;
  }

  .excl-container {
    position: relative;
    margin: auto;
    padding: 3% 3% 0 3%;
    width: 90%;
    box-shadow: none;
    display: block;
    top: 0;
  }

  hr {
    display: none;
  }

  /** Exclusin List: */
  .content-title {
    margin-top: 3%;
    text-align: center;
    box-shadow: none;
    border: 1px solid black;
  }

  .excl-list-title {
    text-align: center;
    display: none;
    margin: 0;
  }

  .excl-card {
    /* display: block; */
    display: table;
    break-inside: avoid;
    border-bottom: 1px solid gray;
  }

  .exclusion-list-item {
    break-inside: avoid;
    page-break-inside: avoid;
    margin-top: 15px;
    display: table;
    height: 260px;
    box-shadow: none;
  }

  .exclusion-name {
    margin-top: 15px;
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .exclusion-image {
    page-break-inside: avoid;
    break-inside: avoid;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none;
  }

  img {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
