@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --blue:#0091f0;
  --blue2: #5cbeff; /* used in scrollbar*/
  --blue3: #0070ba;
  --blue4: #0062a3;
  --orange: #f05f00;
  --white: #f1f2f4; /* Text and icon color */
  --gray1: #f5f2f0; /* Body background */
  --gray2: #f6f6f6; /* Main container */
  --gray3: #f0f3f5; /* Content title color */
  --gray4: #e4e8eb; /* Box shadow color*/
  --charcoal:#002238; 
  --charcoal_light: #00385d;  
  --error: #e1341e;
  --success: #19bf2c;
}

html, body {
  font-size: 1.1rem;
  background: var(--gray1);
  margin: 0;
  height: 100%;
}

* {
  font-family: calibri, ariel, sans-serif;
  box-sizing: border-box;
}

footer {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: center;
  color: var(--charcoal);
  font-size: .9rem;
  padding-bottom: 10px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a:visited {
  color: var(--charcoal);
}

a {
  text-decoration: none
}

a:hover {
  color: var(--charcoal);
  text-decoration: none
}

a:active {
  color: var(--charcoal);
  text-decoration: none
}

.top-nav {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  margin: 0;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, var(--blue3), var(--blue2));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  
  /* padding: 1em; */
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.menu > li {
  margin: 0 .25rem;
  overflow: hidden;
  z-index: 3;
}

li.menu-item {
  z-index: 3
}

li.menu-item:hover {
  background-color: var--(blue2);
}

.menu-item a {
  color: var(--white);
}

.menu-item a:hover {
  cursor: pointer;
  color: var(--blue2);
}

.menu-button-container {
  z-index: 1;
  display: none;
  height: 100%;
  width: 15px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 6px;
}

.menu-button {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 6px;
  flex: right;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  /* font-size: 0; */
  display: block;
  /* visibility: hidden; */
}

.menu-text {
  padding: 0;
  margin: 0;
  display: none;
  /* font-size: 0; */
}

a.header-link {
  color: var(--white);
}

.head-title {
  margin: 0;
  padding-left: 10px;
  width: 300px;
}

.main-container {
  margin: auto;
  padding: 5px 10px 10px 10px;
  width: 65%;
  border-radius: 5px;
  background: var(--gray2);
  box-shadow: 1px 1px 2px 2px var(--gray4);
  margin-top: 52px;
}

.content-title {
  background-color: var(--gray3);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px 2px var(--gray4);
  margin: 0;
}

.centered {
  text-align: center;
}


input {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--charcoal);
  box-shadow: none;
}

textarea {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

/** Font Awsome Icons */
.fas-printer {
  position:absolute;
  right: 8%;
}

.fas-logout {
  position: absolute;
  right: 20%;
}

.fas-logout:hover {
  cursor: pointer;
}

.fas-account {
  position: absolute;
  right: 22%;
}

.fas-new {
  position: absolute;
  right: 22%;
}

.fas-icon-light {
  padding: 0 10px 0 10px;
  color: var(--white);
  justify-content: right;
}

.fas-icon-light:hover {
  cursor: pointer;
  color: var(--blue2);
}

.fas-icon-light-menu {
  padding: 0 10px 0 10px;
  color: var(--white);
  justify-content: right;
}

.fas-icon-light-menu:hover {
  cursor: pointer;
  color: var(--blue2);
}

.fas-icon-loggedin {
  color: var(--success);
}

.fas-icon-loggedout {
  color: var(--error);
}

.fas-icon {
  padding: 0 10px 0 10px;
  color: var(--blue);
}

.fas-icon:hover {
  cursor: pointer;
  color: var(--orange);
}

.fas-icon-back {
  position: relative;
}

/** Home page */
.home-container {
  text-align: center;
}

.home-btn {
  width: 200px;
  max-height: 40px;
}

/* User Home*/

.form-label {
  font-size: 1.3rem;
}

.form-control {
  font-size: 1.2rem;
}

.form-exclusion-section {
  display: flex;
  width: 100%;
}

.form-element {
  margin: 0 5px 0 5px;
}

.form-control {
  margin-right: 8px;
}

.select-input {
  margin-top: 8px;
  width: 200px;
  height: 50px;
}

.select-input-title {
  margin-top: 8px;
  width: 260px;
  height: 50px;
}

fieldset {
  text-align: center;
  margin-top: 3px;
}

.radio-section {
  display: inline;
}

.admin-form-label {
  margin-right: 3%;
}

.btn{
  border-radius: 5px;
  border: none;
  padding: .2rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
  margin: 2px .25rem;
}

.btn:disabled {
  background-color: gray;
}

.btn:disabled:hover {
  background-color: gray;
}

.btn:hover {
  background-color: var(--orange);
  cursor: pointer;
}

/* Houses delete_confirm div*/ 
.btn-container {
  text-align: center;
}

.btn-red:hover {
  background-color: red;
}

.filter-srt-btn {
  margin-left: 5px;
}

.list-btn {
  min-width: 70px;
  max-width: 200px;
}

.list-btn-short {
  width: 50px;
  background: transparent;
  border-radius: 5px;
  border: none;
  padding: .5rem;
  color: var(--blue);
  font-size: 1.2rem;
  margin: 2px .25rem;
}

.list-btn-short:hover {
  color: var(--orange);
}

.left-btn-div {
  display: inline;
  /* float: left; */
}

.right-btn-div {
  position: relative;
  float: right;
  text-align: right;
  z-index: 0;
}

.bottom-div {
  display: inline-block;
}
.bottom-left-div {
  display: inline-block;
  padding: 0 5px 0 0;
}

.bottom-right-div {
  display: inline-block;
  padding: 0 0 0 5px;
}

.invisible {
  display: none;
}

.list {
  padding: 0;
}

.list-item {
  list-style-type: none;
}

.excl-card:hover {
  cursor: pointer;
}

.exclusion-list-item {
  list-style-type: none;
  /* border: 2px solid black; */
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  height: 250px;
  background-color: var(--gray3);
  box-shadow: 1px 1px 2px 2px var(--gray4);
}

.user-item {
  list-style-type: none;
}

.red-filter {
  color: red;
}

/** Exclusion image, displayed in /home route*/
.image {
  max-width: 200px;
  max-height: 230px;
  border-radius: 5px;
  box-shadow: 2px 2px var(--gray4);
}

.exclusion-image {
  float: right;
  margin: 10px 10px 5px 5px;
}

/** Users */

.user-card {
  position: relative;
}

.user-right {
  position: absolute;
  right: 5%;
}

.users-list-item {
  list-style-type: none;
  box-shadow: 1px 1px 2px 2px var(--gray4);
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.users-list-item:hover {
  cursor: pointer;
  background-color: var(--gray3);
}

.link:link {
  color: var(--charcoal);
  text-decoration: none;
}

.excl-container {
  margin: auto;
  top: 52px;
  width: 50%;
  box-shadow: 1px 1px 2px 2px var(--charcoal);
  border-radius: 5px;
  padding: 80px 100px;
  position: relative;
  background: var(--gray2);
}

.excl-head {
  width: 100%;
  display: inline-block;
  /* background: red; */
}

.excl-title {
  text-align: center;
}

.logo {
  /* background-color: #3a3b3d; */
  border-radius: 10px;
  max-width: 200px;
  float: left;
}

.excl-body {
  width: 100%;
  display: inline-block;
}

.excl-picture {
  text-align: right;
  margin-top: -5%;
  max-width: 250px;
  max-height: 280px;
  border-radius: 5px;
  border: 1px solid var(--charcoal);
  float: right;
}

.excl-foot {
  text-align: center;
}

.signature {
  margin: 0;
  line-height: 3px;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  padding-left: 10px;
}

.error {
  color: var(--error);
}

.error-container {
  margin: auto;
  padding: 5px 10px 10px 10px;
  width: 65%;
  border-radius: 5px;
  background: var(--gray2);
  box-shadow: 1px 1px 2px 2px var(--gray4);
  margin-top: 52px;
}


.form-element input:focus {
  outline: none;
}

.form-element.error input {
  border-color: var(--error);
}


/* Tooltip */
.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltip .bottom {
  min-width:50px; 
  max-width:200px;
  top:40px;
  left:50%;
  transform:translate(-1, 0);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility:visible; opacity:1;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left: 10px;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted var(--charcoal); */
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 200px;
  max-width: 300px;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  font-size: 1rem;
  
  /* Position the tooltip */
  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--blue) transparent;
}

/** Modal Window */

.modal-container {
  position: fixed;
  padding-top: 10%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: relative;
  width: 95%;
  max-width: 420px;
  max-height: 415px;
  margin: 10px auto auto;
  padding: 1%;
  background: #fff;
  border-radius: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
  transition: .4s ease-out;
}

.modal h2 {
  text-align: center;
}

.modal-submit-btn {
  position: absolute;
  cursor: pointer;
  outline: none;
  border-radius: 0.25em;
  bottom: 20px;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--white); /* Updated */
  background: var(--blue); /* Updated */
  outline: none;
  border-radius: 0.25em;
  border: none; /* Update */
}

.modal-close-btn:hover {
  cursor: pointer;
  background: var(--orange) /* Updated */
}