@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  font-family: calibri, ariel, sans-serif;
  font-size: 1.2rem;
  background: #d5dcd1;
}

footer {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #2e3629;
}

a:visited {
  color: black;
}

a {
  text-decoration: none
}

a:hover {
  color: black;
  text-decoration: none
}

a:active {
  color: black;
  text-decoration: none
}

.header {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #2e3629;
}

.main-container {
  margin: auto;
  width: 65%;
  border: 2px solid #4d7b31;
  border-radius: 5px;
  padding: 10px;
  background: #eff2ee;
}

input {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

/* Home page */
.home-container {
  text-align: center;
}

.home-btn {
  width: 300px;
}

/* User Home*/

.form-label {
  font-size: 1.3rem;
}

.form-control {
  font-size: 1.3rem;
}

.form-exclusion-section {
  display: flex;
  width: 100%;
}

.form-element {
  margin: 0 5px 0 5px;
}

.form-control {
  margin-right: 8px;
}

.select-input {
  margin-top: 8px;
  width: 200px;
  height: 50px;
}

fieldset {
  text-align: center;
  margin-top: 3px;
}

.radio-section {
  display: inline;
}

.admin-form-element {
 
}

.admin-form-label {
  margin-right: 3%;
}

.admin-form-control {

}

.btn{
  border-radius: 5px;
  border: none;
  padding: .5rem;
  background-color: #4d7b31;
  color: white;
  font-size: 1.2rem;
  margin: 2px .25rem;
}

.btn:disabled {
  background-color: gray;
}

.btn:disabled:hover {
  background-color: gray;
}


.btn:hover {
  background-color: #2e3629;
  cursor: pointer;
}

.list-btn {
  width: 120px;
}

.left-btn-div {
  display: inline;
}

.right-btn-div {
  float: right;
  text-align: right;
}

.list {
  padding: 0;
}

.list-item {
  list-style-type: none;
}

.excl-card:hover {
  cursor: pointer;
  background-color: #d5dcd1;
}

.exclusion-list-item {
  list-style-type: none;
  border: 2px solid black;
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  height: 280px;
}

.exclusion-item {
  list-style-type: none;
}

.red-filter {
  color: red;
}

/** Exclusion image, displayed in /home route*/
.image {
  max-width: 200px;
  max-height: 280px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.image:hover {
  transform: scale(1.2);
}

.exclusion-image {
  float: right;
  margin: 15px;
}

.users-list-item {
  list-style-type: none;
  border: 2px solid black;
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.users-list-item:hover {
  cursor: pointer;
  background-color: #21a0e1;
  color: #fff;
}

.link:link {
  color: black;
  text-decoration: none;
}

.excl-container {
  margin: auto;
  width: 65%;
  border: 2px solid #4d7b31;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background: #eff2ee;
}

.excl-head {
  width: 100%;
  display: inline-block;
  /* background: red; */
}

.excl-title {
  text-align: right;
  margin-right: 10%;
}

.logo {
  /* background-color: #3a3b3d; */
  border-radius: 10px;
  max-width: 200px;
  float: left;
}

.excl-body {
  width: 100%;
  display: inline-block;
}

.excl-picture {
  text-align: right;
  margin-right: 5%;
  margin-top: -5%;
  max-width: 250px;
  max-height: 280px;
  border-radius: 5px;
  border: 1px solid black;
  float: right;
}

.excl-foot {
  text-align: center;
}

.signature {
  margin: 0;
  line-height: 3px;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  padding-left: 10px;
}


/* Tooltip */
/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #2e3629;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 150px;
  max-width: 290px;
  background-color: #4d7b31;
  border: 1px solid #2e3629;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5c8186 transparent transparent transparent;
}