@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --blue:#0091f0;
  --blue2: #5cbeff; /* used in scrollbar*/
  --orange: #f05f00;
  --white: #f1f2f4; /* Text and icon color */
  --gray1: #f5f2f0; /* Body background */
  --gray2: #f6f6f6; /* Main container */
  --gray3: #f0f3f5; /* Content title color */
  --gray4: #e4e8eb; /* Box shadow color*/
  --charcoal:#2e3629; 
  --charcoal_light: #47533f;  
  --error: #e1341e;
  --success: #19bf2c;
}

body {
  font-family: calibri, ariel, sans-serif;
  font-size: 1.2rem;
  background: var(--gray1);
  margin: 0;
}

footer {
  margin: auto;
  width: 50%;
  text-align: center;
  color: var(--charcoal);
}

li {
  list-style-type: none;
}

a:visited {
  color: var(--charcoal);
}

a {
  text-decoration: none
}

a:hover {
  color: var(--charcoal);
  text-decoration: none
}

a:active {
  color: var(--charcoal);
  text-decoration: none
}

.header {
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  text-align: left;
  background: var(--blue);
  color: var(--white);
  height: 25px;
}

.header h1 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 0 20px;
}

a.header-link {
  color: var(--white);
}

.header-right {
  width: 80%;
  margin-right: 10px;
  text-align: right;
}

.head-title {
  width: 300px;
}

.main-container {
  margin: auto;
  padding: 25px 10px 10px 10px;
  width: 65%;
  border-radius: 5px;
  background: var(--gray2);
  box-shadow: 1px 1px 2px 2px var(--gray4);
}

.content-title {
  background-color: var(--gray3);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px 2px var(--gray4);
}

.centered {
  text-align: center;
}

input {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--charcoal);
  box-shadow: none;
}

textarea {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

/** Font Awsome Icons */
.fas-printer {
  position:absolute;
  right: 8%;
}

.fas-logout {
  position: absolute;
  right: 20%;
}

.fas-account {
  position: absolute;
  right: 22%;
}

.fas-new {
  position: absolute;
  right: 22%;
}

.fas-icon-light {
  padding: 0 10px 0 10px;
  color: var(--white);
  justify-content: right;
}

.fas-icon-light:hover {
  cursor: pointer;
  color: var(--orange);
}

.fas-icon {
  padding: 0 10px 0 10px;
  color: var(--blue);
}

.fas-icon:hover {
  cursor: pointer;
  color: var(--orange);
}

.fas-icon-back {
  position: relative;
}

/** Home page */
.home-container {
  text-align: center;
}

.home-btn {
  width: 300px;
}

/* User Home*/

.form-label {
  font-size: 1.3rem;
}

.form-control {
  font-size: 1.2rem;
}

.form-exclusion-section {
  display: flex;
  width: 100%;
}

.form-element {
  margin: 0 5px 0 5px;
}

.form-control {
  margin-right: 8px;
}

.select-input {
  margin-top: 8px;
  width: 200px;
  height: 50px;
}

.select-input-title {
  margin-top: 8px;
  width: 260px;
  height: 50px;
}

fieldset {
  text-align: center;
  margin-top: 3px;
}

.radio-section {
  display: inline;
}

.admin-form-label {
  margin-right: 3%;
}

.btn{
  border-radius: 5px;
  border: none;
  padding: .5rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
  margin: 2px .25rem;
}

.btn:disabled {
  background-color: gray;
}

.btn:disabled:hover {
  background-color: gray;
}

.btn:hover {
  background-color: var(--orange);
  cursor: pointer;
}

/* Houses delete_confirm div*/ 
.btn-container {
  text-align: center;
}

.btn-red:hover {
  background-color: red;
}

.list-btn {
  width: 120px;
}

.list-btn-short {
  width: 50px;
  background: transparent;
  border-radius: 5px;
  border: none;
  padding: .5rem;
  color: var(--blue);
  font-size: 1.2rem;
  margin: 2px .25rem;
}

.list-btn-short:hover {
  color: var(--orange);
}

.left-btn-div {
  display: inline;
}

.right-btn-div {
  float: right;
  text-align: right;
}

.list {
  padding: 0;
}

.list-item {
  list-style-type: none;
}

.excl-card:hover {
  cursor: pointer;
}

.exclusion-list-item {
  list-style-type: none;
  /* border: 2px solid black; */
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  height: 250px;
  background-color: var(--gray3);
  box-shadow: 1px 1px 2px 2px var(--gray4);
}

.user-item {
  list-style-type: none;
}

.red-filter {
  color: red;
}

/** Exclusion image, displayed in /home route*/
.image {
  max-width: 200px;
  max-height: 230px;
  border-radius: 5px;
  box-shadow: 2px 2px var(--gray4);
}

.exclusion-image {
  float: right;
  margin: 10px 10px 5px 5px;
}

/** Users */

.user-card {
  position: relative;
}

.user-right {
  position: absolute;
  right: 5%;
}

.users-list-item {
  list-style-type: none;
  box-shadow: 1px 1px 2px 2px var(--gray4);
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.users-list-item:hover {
  cursor: pointer;
  background-color: var(--gray3);
}

.link:link {
  color: var(--charcoal);
  text-decoration: none;
}

.excl-container {
  margin: auto;
  top: 50px;
  width: 50%;
  box-shadow: 1px 1px 2px 2px var(--charcoal);
  border-radius: 5px;
  padding: 80px 100px;
  position: relative;
  background: var(--gray2);
}

.excl-head {
  width: 100%;
  display: inline-block;
  /* background: red; */
}

.excl-title {
  text-align: center;
}

.logo {
  /* background-color: #3a3b3d; */
  border-radius: 10px;
  max-width: 200px;
  float: left;
}

.excl-body {
  width: 100%;
  display: inline-block;
}

.excl-picture {
  text-align: right;
  margin-top: -5%;
  max-width: 250px;
  max-height: 280px;
  border-radius: 5px;
  border: 1px solid var(--charcoal);
  float: right;
}

.excl-foot {
  text-align: center;
}

.signature {
  margin: 0;
  line-height: 3px;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  padding-left: 10px;
}

.error {
  color: var(--error);
}

.form-element input:focus {
  outline: none;
}

.form-element.error input {
  border-color: var(--error);
}


/* Tooltip */
/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--charcoal);
}

.tooltip .tooltiptext {
  font-size: 1.1rem;
  visibility: hidden;
  min-width: 150px;
  max-width: 290px;
  background-color: var(--blue);
  /* border: 1px solid #2e3629; */
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--charcoal) transparent transparent transparent;
}

/** Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--charcoal);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--charcoal_light);
}