extends ../layout.pug 


block content
  div.error-container
    h1.error= 'Error!'
    p Uh oh! 😮 That's no good. It looks like we encountered an error. 
    if err
      p Error Status: #{err.status || 500}
      p.not-found-p Error: #{err}
    hr

    button.btn(onclick="location.href='/'") Return to homepage

    div.page-not-found-stack
