extends ../layout.pug 

block content  
  .main-container
    h3 Success!
    p Account for #{user.username} has been successfully updated.
    button.btn.btn-default(onclick="location.href='/home'") Home
    button.btn(onclick="location.href='/users'") Users