extends ../layout.pug 

block content  
  .header
    h1 Exclusions DB
  .main-container
    h3 Success!
    p Your account has been successfully updated.
    button.btn.btn-default(onclick="location.href='/home'") Home
    button.btn(onclick="location.href='/users'") Users