extends ../layout.pug 

block content 
  div.main-container
    h2.content-title Delete user - Are you sure?
    p.centered Are you sure you would like to delete user #{user}? 
      strong Caution: 
      em This action cannot be undone.
    .btn-container
      button.btn(onclick='window.location.href=/users/') No - Go back
      button.btn.btn-red(onclick=`window.location.href='/users/${user}/delete_user'`) Yes - DELETE
    