extends ../layout.pug 

block content 
  div.header   
    h1 Exclusions DB
  div.main-container
    h3 Are you sure?
    p Delete user #{user}?
    button.btn(onclick=`window.location.href='/users/${user}/delete_user'`) Yes, Delete
    button.btn(onclick='window.location.href=/users/') No, Go back