extends ../layout.pug 

//- Renders users page
block content
  div.main-container
    h2 Registered Users
    
    ul.list 
      each user in users
        div.users-list-item#user-item(onclick=`window.location.href='/users/${user.username}'`)
          li.exclusion-item #{user.first_name} #{user.last_name}
    button.btn.list-btn(onclick=`history.back()`) Back
    button.btn.list-btn(onclick="window.location.href=/home/") Home

    