extends ../layout.pug 

block content 
  div.main-container
    h2.content-title Success!
    p.centered Exclusion, <strong>ID:#{id}</strong> has been successfully deleted from the database. 
    .btn-container
      button.btn(onclick='window.location.href=/home/') Great, thanks!