extends ../layout.pug

block content 
  div.main-container
    h2.content-title How to prepare and embed Google Photos

    p This
    a(href="https://www.labnol.org/embed/google/photos/" target="_blank") Labnol Embed Google Photos tool