extends ../layout.pug

block content 
  div.main-container
    h2.content-title Preparing Google Photos

    p [Place screenshot here from Google Photos...]
    a(href="https://www.labnol.org/embed/google/photos/" target="_blank") Link: Labnol Embed Google Photos tool