extends ../layout.pug 

block content 
  div.main-container
    h2 Add New Exclusion Order
    
    form(role='form', action="/add_exclusion",method="post")
      .form-exclusion-section
        .form-element
          label.form-label.name-label.tooltip(for='first_name') * First Name
            .tooltiptext Add middle initial, if known
          input.form-control.name-input(type='text', name="first_name", placeholder='First Name' size='50' required)
          br
        .form-element
          label.form-label.name-label(for='last_name') * Last Name
          input.form-control.name-input(type='text', name="last_name", placeholder='Last Name' size='50' required)
          br
      .form-exclusion-section
        .form-element
          label.form-label(for='dob') DOB
          input.form-control(type='date', name="dob", placeholder='DOB')
          br
        .form-element
          label.form-label(for='other_info') Other Info (i.e. gender, height, weight, etc.)
          input.form-control(type='text', name="other_info", placeholder='Other Information')
          br
      .form-element
        label.form-label.tooltip(for='ordinance') * Ordinance/Policy (separated by ',')
          .tooltiptext Example: RCW 9.91.025(a), POL-310(13)
        input.form-control(type='text', name="ordinance", placeholder='RCW/POL#, separated by comma' required)  
      .form-element
        label.form-label(for='description') * Description of infraction
        textarea.form-control(id="description" name="description" rows='4' required) Description of infraction...
        br
      .form-exclusion-section
        .form-element
          label.form-label(for='length') * Exclusion Length
          br
          select.form-control.select-input(name="length" id="exclusion_length" onChange='exclusionLengthChange()' required)  
            option(value="3") 3
            option(value="7") 7
            option(value="14") 14
            option(value="30") 30
            option(value="60") 60
            option(value="180") 180
            option(value="365") 365
            option(value="Lifetime") Lifetime
            option(value="other") Other
          br
        .form-element
          label.form-label(for='other_length' id='other-label' hidden) Other Length (in days)
          br 
          input.form-control(type='hidden' id="other-length" name="other_length" placeholder="Other Length")  
          br
      .form-exclusion-section
        .form-element
          label.form-label(for='date_served') *Date Issued
          br
          input.form-control(type="date" id="date-served" name="date_served")  
          br
      .form-element
        label.form-label.tooltip(for='img_url') Image URL
          .tooltiptext Copy and paste readable image link from Google Photos
        br 
        input.form-control(type='text' name="img_url" id="image_url" placeholder="Image URL")  
      .form-element
        label.form-control(for='signature') Issuing Supervisor: 
        br
        input.form-control(type='text' name="signature" id="signature" placeholder=`${currentUser.first_name} ${currentUser.last_name}` value=`${currentUser.first_name} ${currentUser.last_name}`)  
        br
        br
        small * required
        br 
        br
      .form-button
        button.btn.btn-default(type='submit') Submit
        a(href='/home')
          button.btn.btn-primary(type="button") Cancel

      script(src='/static/js/exclusion_form.js')